@model Web_ProjectName.Models.EM_NewsCategory

<form id="formCreateNewsCategory">
    <div class="card p-3">
        <h4>Thêm danh mục mới</h4>

        <div class="form-group">
            <label for="Name">Tên danh mục</label>
            <input id="Name" name="Name" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Remark">Ghi chú</label>
            <input id="Remark" name="Remark" class="form-control" />
        </div>

        <div class="form-group">
            <label for="Status">Trạng thái</label>
            <select id="Status" name="Status" class="form-control">
                <option value="1" selected>Hiện</option>
                <option value="0">Ẩn</option>
            </select>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Lưu</button>
            <button type="button" id="btnCancelCreate" class="btn btn-secondary">Hủy</button>
        </div>
    </div>
</form>
