@model Web_ProjectName.Models.EM_NewsCategory

<form id="formCreateNewsCategory">
    <input type="hidden" id="Id" name="id" />

    <div>
        <label>Tên danh mục</label>
        <input id="Name" name="name" class="form-control" />
    </div>
    <div>
        <label>Ghi chú</label>
        <input id="Remark" name="remark" class="form-control" />
    </div>
    <div>
        <label>Trạng thái</label>
        <select id="Status" name="status" class="form-control">
            <option value="1">Hiện</option>
            <option value="0">Ẩn</option>
        </select>
    </div>

    <br />
    <button type="submit" id="btnSubmitCreate" class="btn btn-success">Tạo mới</button>
    <button type="button" id="btnSubmitUpdate" class="btn btn-primary" style="display:none;">Cập nhật</button>
    <button type="button" id="btnCancelCreate" class="btn btn-secondary">Hủy</button>
</form>
